/* 
Hamlet in Translation
by Jennifer Lipton
2017
*/

html { 
  background:  linear-gradient(
      rgba(71, 5, 66, 0.45), 
      rgba(71, 5, 66, 0.45)
    ),
  url('../imgs/flower-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
