/* 
Hamlet in Translation
by Jennifer Lipton
2017
*/

html { 
  background:  linear-gradient(
      rgba(33, 2, 29, 0.75), 
      rgba(33, 2, 29, 0.75)
    ),
  url('../imgs/flower-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

@font-face {
    font-family: 'bush_marketregular';
    src: url('bushmarket-regular-webfont.woff2') format('woff2'),
         url('bushmarket-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#FFF;
}

// Divs
.wrapper {
    margin: 0 auto;
}

.header {
    float: left;
    height: 150px;
}

.main {
    float: left;
}

.main intro {
    font-family: 'bush_marketregular';
    font-size: 20px;
}

.main content {
  
}

//Text

p {
    padding: 10px;
}
