/**
* Hamlet in Translation
* by Jennifer Lipton
* 2017
**/

html { 
  background:  linear-gradient(
      rgba(33, 2, 29, 0.75), 
      rgba(33, 2, 29, 0.75)
    ),
  url('../imgs/flower-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

@font-face {
    font-family: 'bush_marketregular';
    src: url('bushmarket-regular-webfont.woff2') format('woff2'),
         url('bushmarket-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

body {
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: 100%; 
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    color:#FFF;
}

// Divs
.wrapper {
	min-height: 100%;
	position: relative;
	overflow: auto;
	margin: auto;
}

.top_block {
	width: 100%;
	display: block; 
}

.center_block {
	display: block;
	width: auto; 
}

.header {
	width: 100%;
	height: 113px;
	position: relative;
}

.nav {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #6699ff;
}

.box {
	width: 400px;
	margin: auto;
	text-align: center;
}

.main {
	width: auto;
	height: auto;
	padding-bottom: 0px;
}

.intro {
    width: 100%; 
    background-color: #ff2d0d;
}

.book {
  width: auto;
  height: auto;
  padding-bottom: 0px;
  
}

 /* Text */ 

.nav{
	color:#E7BE74;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'bush_marketregular';
    font-size: 9em;
    color: #FFF;
	padding: 0;
	margin: auto;
}

h2 {
	color: #E7BE74;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

p {
    padding: 10px;
    text-align: justify;
}

